<h2>Admin Page</h2>

<div>
    {{#each posts as |post|}}

    <div>
        <a href="/dashboard/editpost/{{post.id}}">
            <h3>
                {{post.title}}
            </h3>
        </a>

        <p>
            {{post.body}}
        </p>

        <p>
            This post was created by {{post.user.username}} on {{createdAt}}.
        </p>
    </div>

    {{/each}}

</div>