<div>
    {{#each posts}}

    <div>
        <a href="/post/{{id}}">
            <h3>
                {{title}}
            </h3>
        </a>

        <p>
            {{body}}
        </p>

        <p>
            This post was created by {{user.username}} on {{createdAt}}.
        </p>
    </div>

    {{/each}}

</div>