<div>
    <h3>
        {{post.title}}
    </h3>

    <p>
        {{post.body}}
    </p>

    {{log "Post" post}}
    <p>
        This post was created by {{post.user.username}} on {{post.createdAt}}.
    </p>

    <h3>Leave A Comment</h3>
    <form id="newcomment">
        <input id="postId" type="hidden" value="{{post.id}}" />
        <input type="text" id="commenttext" />
        <button tyep="submit">Submit</button>
    </form>

    {{#each post.Comments as |comment|}}
    <div>
        <p>This comment was created by {{comment.user.username}} on {{comment.createdAt}} </p>
        <p>{{comment.body}}</p>
    </div>

    {{/each}}

</div>

<script src="/js/newcomment.js"></script>